@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#fb7500;
    --black:#130f40;
    --lightcolor:#666;
    --boxshadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outlinehover:.2rem solid var(--black);
}


*{
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}

#slide123{
    margin-top: -2rem;
}

.pr .product-section div{
    height: 36.6rem;
}

.pr .product-section div img:hover{
    cursor: pointer;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

#icons2{
    color: var(--orange);
    font-size: 10rem;
}

body{
    background: #eee;
}

section{
    padding: 2rem 9%;
}

.page{
    text-align: center;
    padding-bottom: .3rem;
    font-size: 1.5rem;
    color: var(--black);
    display: block;
    padding-right: 1rem;
    cursor: pointer;
}

.product-section .product.active{
    display: none;
}

.features{
    justify-content: center;
    align-items: center;
}

.page.active{
    text-decoration: underline;
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span{
    background: var(--orange);
    color: #fff;
    display: inline-block;
    padding: 0.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin: top 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background:  var(--orange);
    color: #fff;
}

.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--boxshadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--orange);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--orange);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius:  .5rem;
    background: #eee;
    color: var(--black);
    font: size 2rem;
    margin-left: 0.3rem;
    text-align: center;
}

.header .icons div:hover{
    background: var(--orange);
}

#menu-btn{
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(Free\ Photo\ _\ Abstract\ blur\ supermarket.jpg);
    background-position: center;
    background-size: cover;
    padding-top:17rem;
    padding-bottom: 10rem;
}

.home .content{
    text-align: center;
    width: 60rem;
}


.home .content span{
    color: var(--orange);
}

.home .content p{
    color: var(--lightcolor);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box{
    padding:3rem 2rem;
    background: #fff;
    outline:.1rem solid rgba(0,0,0,.1);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--boxshadow);
}

.home .content h3{
    font-size: 7rem;
}

.home .content h3 .span{
    color: var(--orange);
}

.features .box-container .box:hover{
    outline:.2rem solid var(--black);
    outline-offset: 0rem;
}

.pr .product-section .product{
    cursor: pointer;
}

.features .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}

.features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}

.features .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--lightcolor);
    padding: 1rem 0;
}

.products .product-slider{
    padding: 1rem;
}

.products .product-slider:first-child{
    margin-bottom: 2rem;
}

.products .product-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--boxshadow);
    transition: .2s linear;
}

.products .product-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outlinehover);
}

.products .product-slider .box img{
    height: 20rem;
}

.products .product-slider .box h3{
    font-size: 2.5rem;
    color: var(--black);
}

.products .product-slider .box .price{
    font-size: 2rem;
    color: var(--lightcolor);
    padding: .5rem 0;
}

.products .product-slider .box .stars i{
    font-size: 1.7rem;
    color: var(--orange);
    padding:.5rem 0;
}

.footer{
    background: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box h3 i{
    color: var(--orange);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: var(--lightcolor);
    padding: 1rem 0;
}

.footer .box-container .box .links i{
    color: var(--orange);
    padding-right: .5rem;
}
.footer{
    align-self: center;
}

.footer .box-container .box .links:hover i{
    padding-right: 1rem;
    transition: 0.3s;
}

.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--lightcolor);
    padding: 1rem 0;
}

.footer .box-container .box .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;
}
#email:hover{
    padding-left: 1rem;
}

.footer .box-container .box .email{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font: size 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .credits{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 1rem;
    color: var(--black);
    border-top: var(--black);
}

.footer .credits span{
    color: var(--orange);
}
#email:hover {
    padding-right: 0.01rem;
}

.enterem{
    color: var(--black);
    font-weight:500;
    white-space: nowrap;
}
.popup-image{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index:100;
    display: none;
}
.popup-image span{
    position: absolute;
    top: 5.4rem;
    right: 8.5px;
    font-size: 7rem;
    font-weight: bolder;
    color: var(--orange);
    cursor: pointer;
    z-index: 100;
}

.popup-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid var(--main-color-);
    border-radius: 5px ;
    width: 900px;
    height: 95.5rem;
    padding: 20rem;
    object-fit:cover;
    padding-top: 30rem;
}
@media (max-width:768px){
    .-popup-image img{
        width: 95% ;
    }
}








/* ppddpddp */
.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .product {
    width: 90%;
    max-width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  .product-section .product img{
    width: 15rem;
  }
  
  .product img {
    width: 100%;
    height: auto;
  }
  
  .product h3 {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .product p {
    font-size: 16px;
    font-weight: bold;
  }
  
  .product button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color:transparent;
    color: var(--black);
    border: .2rem solid var(--black);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .product button:hover{
    background-color: var(--orange);
  }
  
  @media screen and (min-width: 768px) {
    .product-section {
      justify-content: space-between;
    }
    
    .product {
      width: 23%;
      margin: 10px 0;
    }
  }
  

  /* spsckpcksc */




















































































/* media queries */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding: 2rem ;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 110%;right: -110%;
        width: 30rem;
        box-shadow: var(--boxshadow);
        border-radius:  .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display:block;

    }


}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }
    .footer{
        text-align: center;
    }

}